<header class="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="d-none d-md-block col-lg-9 col-md-8">
                    <div class="header-top-socials text-center text-lg-left text-md-left">
                        <a href="https://www.linkedin.com/company/86720046/" aria-label="LinkedIn" class="me-3 fs-4">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/linea-analytics/" aria-label="GitHub" class="fs-4">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="https://join.slack.com/t/lineameasurem-ofu5622/shared_invite/zt-3logs76jk-d_6GYlkINQgHSyepYnJzMw" aria-label="Slack" class="fs-4">
                            <i class="bi bi-slack"></i>
                        </a>
                    </div>

                </div>
                <div class="d-none d-md-block col-lg-3 col-md-4 text-center text-lg-right text-md-right">
                    <div class="header-top-info mb-2 mb-md-0">
                        <a href="mailto:info@linea-analytics.com">
                            <i class="bi bi-envelope-fill mt-3 mx-1"></i>
                            <span>info@linea-analytics.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg px-0 py-4">
                        <a class="navbar-brand" href="/">
                            <img src="/images/logos/logo_black.svg" width="150px" alt="logo">
                        </a>

                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>

                        <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item" data-page="index">
                                    <a class="nav-link tc73" href="/">Home</a>
                                </li>

                                <li class="nav-item dropdown" data-page="solutions">
                                    <a class="nav-link dropdown-toggle tc74" href="#" id="dropdown06" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Solutions
                                    </a>
                                    <div class="dropdown-menu rounded shadow text-center-sm" aria-labelledby="dropdown06">
                                        <a class="dropdown-item tc75" href="/measurement-platform-mmm">Platform</a>
                                        <a class="dropdown-item tc76" href="/full-service-mmm">Full Service</a>
                                        <a class="dropdown-item tc76" href="/scenario-tool-mmm">Scenario Tool</a>
                                    </div>
                                </li>

                                <li class="nav-item" data-page="about">
                                    <a class="nav-link tc77" href="/about.html">About</a>
                                </li>

                                <li class="nav-item" data-page="blog">
                                    <a class="nav-link tc78" href="/blog.html">Our Thinking</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle tc79" href="#" id="dropdown05" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Clients
                                    </a>
                                    <div class="dropdown-menu rounded shadow text-center-sm" aria-labelledby="dropdown05">
                                        <a class="dropdown-item tc80" href="https://app.linea-analytics.com/">Client
                                            Portal</a>
                                        <a class="dropdown-item tc81"
                                            href="https://linea-analytics.com/#contactUs">Queries</a>
                                    </div>
                                </li>

                            </ul>

                            <div class="my-2 my-md-0 ml-lg-4 text-center">
                                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/david-walsh-linea-analytics/30min'});return false;"
                                    class="btn btn-solid-border btn-round-full tc31">Schedule a call</a>
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>