<header class="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-10 col-md-8">
                    <div class="header-top-socials text-center text-lg-left text-md-left">
                        <a href="https://www.linkedin.com/company/86720046/" aria-label="linkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/linea-analytics/" aria-label="github"><i
                                class="fab fa-github"></i></a>
                        <a href="mailto:info@linea-analytics.com"><i
                                class="fas fa-envelope mr-2"></i><span>info@linea-analytics.com</span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 text-center text-lg-right text-md-right">
                    <div class="header-top-info mb-2 mb-md-0">
                        <div class="custom-dropdown-wrapper">
                            <!-- This button toggles the dropdown -->
                            <button class="custom-dropdown-toggle" onclick="toggleLangDropdown()">
                              🌐 Language
                            </button>
                          
                            <!-- The dropdown content, initially hidden via inline style or CSS -->
                            <div id="langDropdown" class="custom-dropdown-content" style="display: none;">
                              <ul>
                                <li><a href="#" onclick="translateContent('eng')">English</a></li>
                                <li><a href="#" onclick="translateContent('ita')">Italian</a></li>
                                <li><a href="#" onclick="translateContent('de')">German</a></li>
                              </ul>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg px-0 py-4">
                        <a class="navbar-brand" href="/index.html">
                            <img src="/images/logos/logo_black.svg" width="150px" alt="logo">
                        </a>

                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>

                        <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item" data-page="index">
                                    <a class="nav-link tc73" href="/index.html">Home</a>
                                </li>
                                <li class="nav-item dropdown" data-page="solutions">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown06"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                            class="tc74">Solutions</span> </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown06">
                                        <li><a class="dropdown-item tc75" href="/measurement-platform.html">Platform</a>
                                        </li>
                                        <li><a class="dropdown-item tc76" href="/full-service.html">Full Service</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item" data-page="about"><a class="nav-link tc77"
                                        href="/about.html">About</a>
                                </li>
                                <li class="nav-item" data-page="blog"><a class="nav-link tc78" href="/blog.html">Our
                                        Thinking</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle tc79" href="#" id="dropdown05"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                                        <li><a class="dropdown-item tc80" href="https://app.linea-analytics.com/">Client
                                                Portal</a></li>
                                        <li><a class="dropdown-item tc81" href="/index.html#contactUs">Queries</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="my-2 my-md-0 ml-lg-4 text-center">
                                <a href="https://calendly.com/david-walsh-linea-analytics/30min"
                                    class="btn btn-solid-border btn-round-full tc31">Schedule a call</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>